body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }
}

section {
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form input, form textarea {
    margin: 10px 0;
    padding: 10px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
}
.logo {
    max-width: 100%; /* логотип не выйдет за пределы родительского элемента */
    height: auto; /* поддержите пропорции */
}

main {
    margin: 20px auto;
    max-width: 800px;
}

article {
    background: #f4f4f4;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

h2 {
    color: #333;
}

h3 {
    color: #444;
}
button {
    background-color: #333; /* Зеленый */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #300; /* Черный */
}